.header{
    display: flex;
    flex-direction: row;
    height: 12vh;
    width: 100vw;
    margin-top: 0;
    justify-content: space-between;
    background-color: black;
}
.SansGif{
    height:12vh;
    width: 6vw;
}
.nav-header{
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    align-items: center;
    padding-right: 10%;
    color:  #45a6ef;
}
.nav-header > p {
    margin:0 40px;
}
.produ{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    height: 40vh;
}
.Produ2{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    height: 40vh;
    margin-top: 10%;
    padding-bottom: 20%;
    padding-top:5% ;
}
.footer{
    background-image: url(https://media.tenor.com/ySfR9-x0-d8AAAAM/undertale-pixel-art.gif);
    background-size: 100%; 
    background-position: center;
    bottom: 0;
    left: 0;
    width: 100vw;
    align-items: flex-end;
    height: 6vh;
    display: flex;
    position: fixed;
}
.All-rights{
    margin-inline: auto;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 0.8em;
}
