
.desc {
    color: red;
    font-size: 10px;
    cursor: default;
}
.card{
    display: flex;
    height: 40vh;
    width: 15%;
    flex-direction: column;
    border: solid rgb(234, 231, 231) 1px;
    border-radius: 10px;
    margin-top: 10%;
    align-items: center;
}
.price{
    font-family: "Silkscreen", cursive;
    color: red;
    cursor: default;
}
.name{
    font-size:120%;
    padding-top: 10%;
    cursor: default;
}
.image{
    width: 100%;
    max-height: 50%;
}
.botão{
    border-radius: 10px;
    width: 50%;
    background-color: bisque;
    border: 0;
    margin-left: 25%;
}
button:hover {
    background-color: #333333;
    border: 2px solid #000;
    color: white;
    transition: all 0.2s ease-in;
    cursor: pointer;
}
.miniature{
    max-height: 10%;
    max-width: 20%;
    margin-inline-start: 79%;
    border-radius: 5px;
    z-index: -1;
}
a{
    width: 100%;
}